.Movie {
  height: 25vh;
  background:  #d7d7d7;
  width: 67vh;
  text-align: center;
  margin-left: 32.7%;
  position: relative;
}

.Movie header {
  background-color: #005986;
  color: #00d9fb;
  height: 20%;
}

h3 {
  margin-top: 10px;
}
